#intro {
    color: #e6b800;
    background-image: url("Gucci.png");
    background-color: brown;
    font-family: fantasy;
    padding: center;
    font-size: 50px;
    outline-color: green;
    margin: auto;
}

body {
    margin: 0 auto;
    max-width: 50em;
  }

.p_text {
    font-style: oblique; 
    font-size:100%;
}